# Módulo 07, Tarefa 01

Vamos começar a mexer na nossa base de projeto? Já fizemos um exercício de montar a variável resposta, já pudemos perceber que essa atividade pode não ser trivial. Vamos agora trabalhar a base para que fique propícia ao *scikitlearn* para trabalharmos.

Lembrando, a base se chama demo01.csv, e originalmente está publicada [aqui](https://www.kaggle.com/rikdifos/credit-card-approval-prediction).

In [76]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.ticker import ScalarFormatter

#### 1) Carregue a base e avalie:

- As variáveis
- Tipos de dados de cada variável
- Quantidade de missings
- Distribuição da variável resposta (mau)

In [86]:
df = pd.read_csv('demo01.csv')
df.head()

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau
0,M,Y,Y,0,Working,Secondary / secondary special,Married,House / apartment,58.832877,3.106849,1,0,0,0,2.0,False
1,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
2,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
3,M,Y,Y,0,Working,Higher education,Married,House / apartment,46.224658,2.106849,1,1,1,1,2.0,False
4,F,Y,N,0,Working,Incomplete higher,Married,House / apartment,29.230137,3.021918,1,0,0,0,2.0,False

In [104]:
print("Variáveis\n", df.columns)

Variáveis
 Index(['sexo', 'posse_de_veiculo', 'posse_de_imovel', 'qtd_filhos',
       'tipo_renda', 'educacao', 'estado_civil', 'tipo_residencia', 'idade',
       'tempo_emprego', 'possui_celular', 'possui_fone_comercial',
       'possui_fone', 'possui_email', 'qt_pessoas_residencia', 'mau'],
      dtype='object')

In [103]:
print("Tipos dados por variável\n", df.dtypes)

Tipos dados por variável
 sexo                      object
posse_de_veiculo          object
posse_de_imovel           object
qtd_filhos                 int64
tipo_renda                object
educacao                  object
estado_civil              object
tipo_residencia           object
idade                    float64
tempo_emprego            float64
possui_celular             int64
possui_fone_comercial      int64
possui_fone                int64
possui_email               int64
qt_pessoas_residencia    float64
mau                         bool
dtype: object

In [102]:
print("Quantidade de missings\n", df.isnull().sum())

Quantidade de missings
 sexo                     0
posse_de_veiculo         0
posse_de_imovel          0
qtd_filhos               0
tipo_renda               0
educacao                 0
estado_civil             0
tipo_residencia          0
idade                    0
tempo_emprego            0
possui_celular           0
possui_fone_comercial    0
possui_fone              0
possui_email             0
qt_pessoas_residencia    0
mau                      0
dtype: int64

In [109]:
print("Distribuição variável resposta", df['mau'].value_counts())

Distribuição variável resposta mau
False    16260
True       390
Name: count, dtype: int64

#### 2) Vamos montar um metadados

1. Crie um dataframe com os nomes de cada variável e o tipo de dados de cada variável.
2. Adicione uma coluna nesse *dataframe* chamada "qtd_categorias" e coloque nela o número de categorias correspondente de cada variável. 
    Dica: 
        1. inicie uma lista vazia
        2. faça um for ao longo dos nomes das variáveis, 
        3. conte o número de categorias dessa variável 
        4. acumule essa informação de 3. na lista que você criou em 1. 
        5. No final, essa lista pode ser atribuída à nossa variável.
3. Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}.

In [110]:
metadata = pd.DataFrame({'Variável': df.columns, 'Tipo Dado': df.dtypes})
print("Metadados")
print(metadata)
metadata['qtd_categorias'] = df.nunique()
print("Quantidade Categorias por Variável")
print(metadata[['Variável', 'qtd_categorias']])
df_dummies = pd.get_dummies(df.select_dtypes(exclude=['number', 'bool']))
print("DataFrame Dummy")
print(df_dummies)

Metadados
                                    Variável Tipo Dado
sexo                                    sexo    object
posse_de_veiculo            posse_de_veiculo    object
posse_de_imovel              posse_de_imovel    object
qtd_filhos                        qtd_filhos     int64
tipo_renda                        tipo_renda    object
educacao                            educacao    object
estado_civil                    estado_civil    object
tipo_residencia              tipo_residencia    object
idade                                  idade   float64
tempo_emprego                  tempo_emprego   float64
possui_celular                possui_celular     int64
possui_fone_comercial  possui_fone_comercial     int64
possui_fone                      possui_fone     int64
possui_email                    possui_email     int64
qt_pessoas_residencia  qt_pessoas_residencia   float64
mau                                      mau      bool
Quantidade Categorias por Variável
                                    Variável  qtd_categorias
sexo                                    sexo               2
posse_de_veiculo            posse_de_veiculo               2
posse_de_imovel              posse_de_imovel               2
qtd_filhos                        qtd_filhos               8
tipo_renda                        tipo_renda               5
educacao                            educacao               5
estado_civil                    estado_civil               5
tipo_residencia              tipo_residencia               6
idade                                  idade            5298
tempo_emprego                  tempo_emprego            3005
possui_celular                possui_celular               1
possui_fone_comercial  possui_fone_comercial               2
possui_fone                      possui_fone               2
possui_email                    possui_email               2
qt_pessoas_residencia  qt_pessoas_residencia               9
mau                                      mau               2
DataFrame Dummy
       sexo_F  sexo_M  posse_de_veiculo_N  posse_de_veiculo_Y  \
0       False    True               False                True
1        True   False                True               False
2        True   False                True               False
3       False    True               False                True
4        True   False               False                True
...       ...     ...                 ...                 ...
16645    True   False                True               False
16646    True   False                True               False
16647   False    True               False                True
16648   False    True               False                True
16649    True   False                True               False

       posse_de_imovel_N  posse_de_imovel_Y  tipo_renda_Commercial associate  \
0                  False               True                            False
1                  False               True                             True
2                  False               True                             True
3                  False               True                            False
4                   True              False                            False
...                  ...                ...                              ...
16645              False               True                            False
16646              False               True                             True
16647              False               True                            False
16648              False               True                            False
16649              False               True                            False

       tipo_renda_Pensioner  tipo_renda_State servant  tipo_renda_Student  \
0                     False                     False               False
1                     False                     False               False
2                     False                     False               False
3                     False                     False               False
4                     False                     False               False
...                     ...                       ...                 ...
16645                 False                     False               False
16646                 False                     False               False
16647                 False                     False               False
16648                 False                     False               False
16649                  True                     False               False

       ...  estado_civil_Married  estado_civil_Separated  \
0      ...                  True                   False
1      ...                 False                   False
2      ...                 False                   False
3      ...                  True                   False
4      ...                  True                   False
...    ...                   ...                     ...
16645  ...                 False                   False
16646  ...                  True                   False
16647  ...                  True                   False
16648  ...                  True                   False
16649  ...                  True                   False

       estado_civil_Single / not married  estado_civil_Widow  \
0                                  False               False
1                                   True               False
2                                   True               False
3                                  False               False
4                                  False               False
...                                  ...                 ...
16645                              False               False
16646                              False               False
16647                              False               False
16648                              False               False
16649                              False               False

       tipo_residencia_Co-op apartment  tipo_residencia_House / apartment  \
0                                False                               True
1                                False                               True
2                                False                               True
3                                False                               True
4                                False                               True
...                                ...                                ...
16645                            False                               True
16646                            False                               True
16647                            False                               True
16648                            False                               True
16649                            False                               True

       tipo_residencia_Municipal apartment  tipo_residencia_Office apartment  \
0                                    False                             False
1                                    False                             False
2                                    False                             False
3                                    False                             False
4                                    False                             False
...                                    ...                               ...
16645                                False                             False
16646                                False                             False
16647                                False                             False
16648                                False                             False
16649                                False                             False

       tipo_residencia_Rented apartment  tipo_residencia_With parents
0                                 False                         False
1                                 False                         False
2                                 False                         False
3                                 False                         False
4                                 False                         False
...                                 ...                           ...
16645                             False                         False
16646                             False                         False
16647                             False                         False
16648                             False                         False
16649                             False                         False

[16650 rows x 27 columns]

#### 3) Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}. Crie um *dataframe* apenas com as variáveis apropriadas para entrada no scikitlearn - elimine as variáveis tipo *str*, mantendo apenas suas versões *dummy*.

In [112]:
print("Variáveis dummy")
qualitative_columns = df.select_dtypes(include=['object']).columns
df_dummies = pd.get_dummies(df[qualitative_columns], drop_first=True)
print(df_dummies)

Variáveis dummy
       sexo_M  posse_de_veiculo_Y  posse_de_imovel_Y  tipo_renda_Pensioner  \
0        True                True               True                 False
1       False               False               True                 False
2       False               False               True                 False
3        True                True               True                 False
4       False                True              False                 False
...       ...                 ...                ...                   ...
16645   False               False               True                 False
16646   False               False               True                 False
16647    True                True               True                 False
16648    True                True               True                 False
16649   False               False               True                  True

       tipo_renda_State servant  tipo_renda_Student  tipo_renda_Working  \
0                         False               False                True
1                         False               False               False
2                         False               False               False
3                         False               False                True
4                         False               False                True
...                         ...                 ...                 ...
16645                     False               False                True
16646                     False               False               False
16647                     False               False                True
16648                     False               False                True
16649                     False               False               False

       educacao_Higher education  educacao_Incomplete higher  \
0                          False                       False
1                          False                       False
2                          False                       False
3                           True                       False
4                          False                        True
...                          ...                         ...
16645                      False                       False
16646                      False                       False
16647                      False                       False
16648                      False                       False
16649                       True                       False

       educacao_Lower secondary  educacao_Secondary / secondary special  \
0                         False                                    True
1                         False                                    True
2                         False                                    True
3                         False                                   False
4                         False                                   False
...                         ...                                     ...
16645                     False                                    True
16646                     False                                    True
16647                     False                                    True
16648                     False                                    True
16649                     False                                   False

       estado_civil_Married  estado_civil_Separated  \
0                      True                   False
1                     False                   False
2                     False                   False
3                      True                   False
4                      True                   False
...                     ...                     ...
16645                 False                   False
16646                  True                   False
16647                  True                   False
16648                  True                   False
16649                  True                   False

       estado_civil_Single / not married  estado_civil_Widow  \
0                                  False               False
1                                   True               False
2                                   True               False
3                                  False               False
4                                  False               False
...                                  ...                 ...
16645                              False               False
16646                              False               False
16647                              False               False
16648                              False               False
16649                              False               False

       tipo_residencia_House / apartment  tipo_residencia_Municipal apartment  \
0                                   True                                False
1                                   True                                False
2                                   True                                False
3                                   True                                False
4                                   True                                False
...                                  ...                                  ...
16645                               True                                False
16646                               True                                False
16647                               True                                False
16648                               True                                False
16649                               True                                False

       tipo_residencia_Office apartment  tipo_residencia_Rented apartment  \
0                                 False                             False
1                                 False                             False
2                                 False                             False
3                                 False                             False
4                                 False                             False
...                                 ...                               ...
16645                             False                             False
16646                             False                             False
16647                             False                             False
16648                             False                             False
16649                             False                             False

       tipo_residencia_With parents
0                             False
1                             False
2                             False
3                             False
4                             False
...                             ...
16645                         False
16646                         False
16647                         False
16648                         False
16649                         False

[16650 rows x 20 columns]

#### 4) Qual variável é mais poderosa?

Considere as variáveis ```possui_email``` e ```posse_de_veiculo```. Faça uma tabela cruzada entre elas e responda qual delas te parece mais poderosa para prever a probabilidade de ```mau = 1```?

In [114]:
cross_table = pd.crosstab(df['possui_email'], df['posse_de_veiculo'], margins=True, margins_name='Total')
cross_table['Total_mau_1'] = df.loc[df['mau'] == 1, ['possui_email', 'posse_de_veiculo']].groupby(['possui_email', 'posse_de_veiculo']).size()
print("Tabela cruzada 'possui_email' e 'posse_de_veiculo'\n")
print(cross_table)

Tabela cruzada 'possui_email' e 'posse_de_veiculo'

posse_de_veiculo      N     Y  Total  Total_mau_1
possui_email
0                  9341  5829  15170          NaN
1                   837   643   1480          NaN
Total             10178  6472  16650          NaN

Variável 'posse_de_veiculo' parece ser mais poderosa, pois:

- Aparece mais vezes em 'posse_de_veiculo';
- Existe uma discrepância maior entre 'N' e 'Y' em 'posse_de_veiculo' indicando que a posse de veículo pode ser mais influente na probabilidade de 'mau'

#### 5) Salve a base, pois ela será utilizada no final deste módulo.

In [115]:
df.to_csv('demo01_mod.csv', index=False)